/*Sets global styling*/

* {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-color: #f8f1ee !important;
  padding-top: 100px;
  margin: 0;
  width: 100%;
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

nav{
  box-shadow: 5px 5px 5px#C8C8C8;
  background-color: white;
} 
/*check out font size relativeness*/
.nav-a{
  font-size: 1em;
}

#navbars{
  padding-left: 15px;
}

#logo {
  width: 60%;
} 

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-section{
  color: white;
}

button { 
    background: white;
    border: none;
    border-radius: 12px;
    color: black; /* make transparent*/
    font-size: 1.5em;
    padding:  1% 8%; /*top/b righ/l*/
    border-radius: 50px;
}

.first-section h1{
  font-size: 4em;
}

.first-section p{
  font-size: 2em; 
}

.second-section{
  padding-top: 1.5%;
}

.second-section p{
  font-size: 1.6em;
  font-weight:500;
  letter-spacing: none;
}

/*arrow*/
i {
  display: inline-block;
  height: 49px;
  width: 50px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(45deg, #FDD31C, #F15B22,  #E52127, #DD0C8B);
  border-image-slice: 1;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.paragraphs{
  padding-top: 10%;
}

#line{
  width: 30%;
  display:block;
  border:none;
  height:5px;
  background: linear-gradient(45deg,#DD0C8B, #E52127, #F15B22, #FDD31C);
}

.padding-bottom{
  padding-bottom: 5%;
}


.photoarray{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
  align-items:stretch;
}

#box1 {
  display: flex;
  flex-basis: 100%;
  height: auto;
  flex-shrink: 1;
  
}

#box2 {
  display: flex;
  flex-basis: 100%;
  height: auto;
  flex-shrink: 1;
}

#box3{
  display: flex;
  flex-basis: 100%;
  height: auto;
  flex-shrink: 1;

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {


}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {

}