/*Sets global styling*/

* {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.5px;
}

body {
    padding-top: 100px;
    margin: 0;
    width: 100%;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*navbar*/
nav {
    box-shadow: 5px 5px 5px#C8C8C8;
    background-color: white;
  } 
  
  .nav-a{
    font-size: 1em;
  }
  
  #navbars{
    padding-left: 15px;
  }
  
  #logo {
    width: 60%;
  } 
  /*end*/

  /*more efficient method to get lines be same width as text*/
  #line{  
    display:block;
    border:none;
    height:5px;
    background: linear-gradient(45deg,#DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 200px;
    margin: 0px;
    border-radius: 5px;
  }

  #line_mission{  
    display:block;
    border:none;
    height:5px;
    background: linear-gradient(45deg,#DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 190px;
    margin: 0px;
    border-radius: 5px;
  }
  
  #line_team{ 
    display:block;
    border:none;
    height:5px;
    background: linear-gradient(45deg,#DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 152px;
    margin: 0px;
    border-radius: 5px;
  }
/***/

.centered{    /*centers item*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

  .about_para{
      padding: 3% 0 3% 10%;/*top right bottom left*/
  }

  img { /*to resize image according to screen*/
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.second_section{
  padding-top: 10%;
}

.third_section{
    padding-top: 5%;
}

.contained{
  padding: 3%;
}

/*Bottom bar styles*/

footer {
  border-top: 100px solid transparent;
  border-image: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  border-image-slice: 1;
  width: 100%;
  height: auto;
  background: white;
  padding: 3%;
  padding-bottom: 0%;
}

#footer1 {
display: block;
}

#shootLogo {
  width: 10%;
}

.mid-footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5%;
}

/*List elements*/

ul {
  list-style-type: none;
  font-size: 110%;
  padding: 0;
}

a>li {
  text-decoration: none;
  color: black;
}

ul>a:hover {
  text-decoration: none;
  color: #c40000;
}

#bold {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

#follow {
  padding-right: 2%;
}

#follow>h1 {
  /*Bottom Border with gradient*/
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  border-image-slice: 1;
  /*Text-specific*/
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 300%;
}

#follow {
  text-align: center;
}

@media (min-width: 1281px) {}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    /*Removes follow us from all sizes bellow 1200px*/
    #follow>h1,
    h2 {
        display: none;
    }
    /*Align icons after removing above*/
    #follow>div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;
        margin: 20px;
    }
    /*Reduce font-szie in sign up section*/
    .col-sm-6>h1 {
        font-size: 300%;
    }
    .col-sm-6>p {
        font-size: 130%;
    }
    .mc-field-group>div>input {
        font-size: 120%;
    }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #follow>h1,
    h2 {
        display: none;
    }
    /*Align icons after removing above*/
    #follow>div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;
        margin: 20px;
    }
    /*Reduce font-szie in sign up section*/
    .col-sm-6>h1 {
        font-size: 300%;
    }
    .col-sm-6>p {
        font-size: 130%;
    }
    .mc-field-group>div>input {
        font-size: 120%;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #follow>h1,
    h2 {
        display: none;
    }
    /*Align icons after removing above*/
    #follow>div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;
        margin: 20px;
    }
    /*Reduce font-szie in sign up section*/
    .col-sm-6>h1 {
        font-size: 300%;
    }
    .col-sm-6>p {
        font-size: 130%;
    }
    .mc-field-group>div>input {
        font-size: 120%;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    #follow>h1,
    h2 {
        display: none;
    }
    /*Align icons after removing above*/
    #follow>div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;
        margin: 20px;
    }
    /*Reduce font-szie in sign up section*/
    .col-sm-6>h1 {
        font-size: 300%;
    }
    .col-sm-6>p {
        font-size: 130%;
    }
    .mc-field-group>div>input {
        font-size: 120%;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 360px) and (max-width: 480px) {

    /* Navigation Bar */
    #logo {
        width: 90%;
    }

    /* Third Section */

    /* First Section  */
    .first-section h1 {
        font-size: 300%;
      }
      
    .first-section p {
        font-size: 150%;
    }

    .first-section {
        padding: 50px;
    }

    .first-section > div > img {
        width: 80%;
    }
    /* Photographer Gallery */
    .gallery-cell {
        height: 400px;
        padding: 10px;
    }


    /*Sign up section*/
    .col-sm-6>h1 {
        padding-left: 20px;
        padding-right: 20px; 
        font-size: 300%;
    }
    .col-sm-6>p {
        padding-left: 10px;
        padding-right: 10px; 
        font-size: 130%;
    }
    .mc-field-group>div>input {
        font-size: 120%;
    }

    .signup {
        padding-top: 20%;
        margin-bottom: 100px;
    }

    .mc-field-group>.btn {
        margin-top: 30px;
    }
      

    /* Footer */
    footer {
        border-top: 50px solid transparent;

    }

    #shootLogo {
        width: 40%;   
    }

    #footer1 {
        text-align: center;
    }
        

    .mid-footer {
        justify-content: center;
        text-align: center;
    }

    div > span {
        display: flex;
        text-align: center;
        justify-content: center;
    }
/*     
    #follow>h1,
    h2 {
        display: none;
    }*/
    
    /*Align icons after removing above*/
    #follow>div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;
        margin: 20px;
    } 

}