/*Sets global styling*/

* {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1.5px;
}

body {
  background-color: #f8f1ee !important;
  padding-top: 100px;
  margin: 0;
  width: 100%;
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

nav{
  box-shadow: 5px 5px 5px#C8C8C8;
  background-color: white;
} 
/*check out font size relativeness*/
.nav-a{
  font-size: 1em;
}

#navbars{
  padding-left: 15px;
}

#logo {
  width: 60%;
} 

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.first-section{
  color: white;
}

button { 
    background: white;
    border: none;
    border-radius: 12px;
    color: black; /* make transparent*/
    font-size: 1.3em;
}

.first-section h1{
  font-size: 4em;
}

.first-section p{
  font-size: 2em; 
}

.second-section{
  padding-top: 1.5%;
}

.second-section p{
  font-size: 1.6em;
  font-weight:500;
  letter-spacing: none;
}

/*arrow*/
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  height: 49px;
  width: 50px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.paragraphs{
  padding-top: 10%;
}