/*Sets global styling*/

* {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.5px;
}

body {
    background-color: #f8f1ee !important;
    padding-top: 100px;
    margin: 0;
    width: 100%;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
