/*Sets global styling*/

* {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.5px;
}

body {
    padding-top: 100px;
    margin: 0;
    width: 100%;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/*navbar*/
nav {
    box-shadow: 5px 5px 5px#C8C8C8;
    background-color: white;
  } 
  
  .nav-a{
    font-size: 1em;
  }
  
  #navbars{
    padding-left: 15px;
  }
  
  #logo {
    width: 60%;
  } 
  /*end*/

  /*more efficient method to get lines be same width as text*/
  #line{  
    display:block;
    border:none;
    height:5px;
    background: linear-gradient(45deg,#DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 200px;
    margin: 0px;
    border-radius: 5px;
  }

  #line_mission{  
    display:block;
    border:none;
    height:5px;
    background: linear-gradient(45deg,#DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 190px;
    margin: 0px;
    border-radius: 5px;
  }
  
  #line_team{ 
    display:block;
    border:none;
    height:5px;
    background: linear-gradient(45deg,#DD0C8B, #E52127, #F15B22, #FDD31C);
    max-width: 152px;
    margin: 0px;
    border-radius: 5px;
  }
/***/

  .about_para{
      padding: 3% 0 3% 10%;/*top right bottom left*/
  }

  img { /*to resize image according to screen*/
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.third_section{
    padding-top: 5%;
}